$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlue: #49c2e8;
$colorAlphaBlue: rgba(73, 194, 232, 0.11);

$colors: (
  "white": $colorWhite,
  "black": $colorBlack,
  "blue": $colorBlue,
  "alphaBlue": $colorAlphaBlue,
);
